<%- include('./partials/head.ejs') %>

<header>
  <nav class="container">
      <h1><a href="/">Cooking Wick</a></h1>
  </nav>
</header>

<section class="container">
    <h2>Page not found</h2>
    <p>Oops! the page you requested does't exist</p>
    <a href="/">Go back home</a>
</section>

<%- include('./partials/footer.ejs') %>