<%- include('./partials/head.ejs') %>

<header>
  <nav class="container">
      <h1><a href="/">Cooking Wick</a></h1>
      <ul>
          <li><a href="/create">Add new recipe</a></li>
      </ul>
  </nav>
</header>

<form action="/create" method="POST">
    <h2>Add Recipe</h2>

    <label for="title">Recipe title:</label>
    <input type="text" name="title" required />
    <label for="title">Recipe ingredient:</label>
    <div class="add">
      <input id="ingredient" type="text" name="ingredient" />
      <button>Add</button>
    </div>
    <div class="list">Current ingrident: <i></i></div>
    <label for="method">Recipe method:</label>
    <input type="text" name="method" required />
    <label for="cooking-time">Cooking time:</label>
    <input type="text" name="cookingTime" required />
    <button class="submit">submit</button>
</form>

<!-- <script>
  const form = document.querySelector('form');
  const addButton = document.querySelector('.add button');
  const ingredient = document.querySelector('#ingredient');
  const ingredientList = document.querySelector('.list i');

  // add ingredient
  addButton.addEventListener('click', (e) => {
    e.preventDefault();

    ingredientList.append(ingredient.value.trim() + ', ');
    // reset field
    ingredient.value = '';
  })

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // get the values
    const title = form.title.value.trim();
    const ingredient = ingredientList.textContent;
    const method = form.method.value.trim();
    const cookingTime = form.cookingTime.value.trim();

    // console.log(title, ingredient, method, cookingTime)

    try {
      const res = await fetch('/create', {
        method: 'POST',
        body: JSON.stringify({ title, ingredient, method, cookingTime }),
        headers: { 'Content-Type': 'application/json'}
      })
    }
    catch(err) {
      console.log(err)
    }
})
</script> -->

<%- include('./partials/footer.ejs') %>