<%- include('./partials/head.ejs') %>

<form>
    <h2>Add Recipe</h2>

    <label for="title">Recipe title:</label>
    <input type="text" name="title">
    <label for="title">Recipe ingrident:</label>
    <input type="ingrident" name="ingrident">
    <label for="method">Recipe method:</label>
    <input type="text" name="method">
    <label for="cooking-time">Cooking time:</label>
    <input type="text" name="cooking-time">
    <button>submit</button>
</form>

<%- include('./partials/footer.ejs') %>