<%- include('./partials/head.ejs') %>

<header>
  <nav class="container">
      <h1><a href="/">Cooking Wick</a></h1>
  </nav>
</header>

<section class="container">
    <h2>?! Error !?</h2>
    <p>Please check you network connection and try again</p>
</section>


<%- include('./partials/footer.ejs') %>